@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Product+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/product-sans/ProductSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Product Sans', sans-serif; */

  box-sizing: border-box;
  overflow-x: hidden;
}


.service-scrollbar::-webkit-scrollbar {
  width: 10px;
  padding-top: 10px;
}

.service-scrollbar::-webkit-scrollbar-track {
  background: #EFEFEF;
}

.service-scrollbar::-webkit-scrollbar-thumb {
  background: #BBBBBB;
  width: 1px;
  height: 1px;
  border-radius: 10px;
}

.service-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@keyframes slide-colors {
  from {
    background-position: 0% 50%;
  }

  to {
    background-position: 100% 50%;
  }
}

.break-text {
  line-height: 1.6;
  background: linear-gradient(90deg, gold, black, gold, black);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: slide-colors 2s linear 1;
}


.header_o {
  background-image: url('/header_bg.png');
}