@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.pt-sans-regular {
  font-family: "PT Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", serif;
  font-weight: 700;
  font-style: italic;
}


body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "PT Sans", serif;
  
  box-sizing: border-box;
  overflow-x: hidden;
}


.service-scrollbar::-webkit-scrollbar {
  width: 10px;
  padding-top: 10px;
}

.service-scrollbar::-webkit-scrollbar-track {
  background: #EFEFEF;
}

.service-scrollbar::-webkit-scrollbar-thumb {
  background: #BBBBBB;
  width: 1px;
  height: 1px;
  border-radius: 10px;
}

.service-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@keyframes slide-colors {
  from {
    background-position: 0% 50%;
  }

  to {
    background-position: 100% 50%;
  }
}

.break-text {
  line-height: 1.6;
  background: linear-gradient(90deg, gold, black, gold, black);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: slide-colors 2s linear 1;
}


.header_o {
  background-image: url('/header_bg.png');
}

